<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Academy | Order Status</title>

    <!-- bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="../static/style/style.css" rel="stylesheet" />
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top border-bottom">
        <div class="container">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">English Academy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="/courses">Courses</a>
                        </li>
                </div>
            </div>

            <div id="notif" class="me-5">
                <div class="dropdown-center me-4">
                    <a class="link-dark mx-2 text-decoration-none" href="#" aria-label="Akun" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-4" id="notifications">
                        <a class="dropdown-item" href="/user_info">My Account</a>
                        <a class="dropdown-item" href="/status">My Orders</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item px-3" href="" onclick="logout()">Logout</a>
                    </div>
                    <a class="link-dark mx-2" href="#" aria-label="Akun" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-bell" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-4" id="notifications">
                        <p class="dropdown-item">Notifications</p>
                        <div class="dropdown-divider"></div>
                        <div id="notification-drop-down">
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <p class="text-sm"><b>Call me whenever you can...</b></p>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <p class="text-sm">Call me whenever you can...</p>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Clear Notifications</a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <section id="content" class="mt-5 pt-5 container">
        <div class="mt-3">
            <div class="sticky-top px-3 pb-3 my-auto">
                <h4>Status Pembayaran</h4>
                <hr class="mt-4 col-md-3 col">
            </div>
        </div>
        <div id="alertContainer">
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                Tes alert
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mt-3 bg-success py-4 px-3 rounded" style="--bs-bg-opacity: .1;">
            <h5 class="pb-3">Nomor Rekening: 0xxxxxxx</h5>
            <div style="overflow-x:auto;">
                <table class="table table-success table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Program</th>
                            <th scope="col">Status</th>
                            <th scope="col">Skema Pembelajaran</th>
                            <th scope="col">Lokasi</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Bukti Pembayaran</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if statuses %}
                        {% for status in statuses %}
                        <tr>
                            <th scope="row">{{ user_info.name }}</th>
                            <td>{{ status.courseName }}</td>
                            <td>{{ status.status }}</td>
                            <td>{{ status.learningScheme }}</td>
                            <td>{{ status.location }}</td>
                            <td>Rp. <span id="course_price-{{ status.id }}"></span></td>
                            <td>
                                {% if status.payment %}
                                <a data-bs-toggle="modal" data-bs-target="#uploadPayment" data-id="{{ status.id }}"
                                    style="cursor: pointer;">{{
                                    status.payment }}</a>
                                {% else %}
                                <a class="btn accbtn" data-bs-toggle="modal" data-bs-target="#uploadPayment"
                                    data-id="{{ status.id }}" style="cursor: pointer;">
                                    Upload
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="7">Anda belum mendaftar</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <p class="pt-5 text-end">Harap lakukan pembayaran maksimal 24 jam setelah pendaftaran.</p>
            </div>
        </div>
    </section>

    <!--Footer Section-->
    <section id="footer" style="background-color: silver">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <h3>English Academy</h3>
                    </a>
                    <p class="text-body-secondary">© 2023</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>Payment</h5>
                    <ul>
                        <p>
                            <img src="../static/img/bca.png" alt="" style="width: 50px; height: auto;">
                        <p>
                        <p>
                            <img src="../static/img/bri.png" alt="" style="width: auto; height: 40px;">
                        <p>
                        <p>
                            <img src="../static/img/bni.png" alt="" style="width: 50px; height: auto;">
                        <p>
                        <p>
                            <img src="../static/img/mandiri.png" alt="" style="width: 50px; height: auto;">
                        <p>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Helpfull Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Service</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tems &
                                Condition</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy
                                Policy</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Main Office</h5>
                    <p>Jl Timbangan, Sumatera Selatan</p>
                </div>
            </footer>
        </div>
    </section>
    <!--End Footer Section-->

    <!-- Modal upload Bukti Pembayaran -->
    <div class="modal fade" id="uploadPayment" tabindex="-1" aria-labelledby="uploadPaymentLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="api/upload_payment" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="uploadPaymentLabel">Upload Bukti Pembayaran</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="registration_id" name="registration_id" hidden>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="paymentFile" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn accbtn">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <script>
        {% for status in statuses %}
            {% if status and status.courseName %}
                $('#course_price-{{ status.id }}').text(formatNum("{{ status.coursePrice }}"));
            {% endif %}
        {% endfor %}

        $('#uploadPayment').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let registrationId = button.data('id'); // Extract info from data-* attributes
            let modal = $(this);
            modal.find('#registration_id').val(registrationId);
        })

        $(document).ready(function(){
            showAlert();
        });
    </script>
</body>

</html>